body {
  background-color: var(--main-white);
}

/*--header--*/
header {
  background-color: aliceblue;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.6);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10
}

.header-main-container {
  display: flex;
  align-items: center; /* Выравнивание по вертикали */
  justify-content: space-between; /* Выравнивание по горизонтали */
}

.header-svg svg {
  padding: 1vh 4vw;
  width: auto;
  height: 10vh;
}

.header-sections {
  width: 65%;
  margin-right: 10vw;
  font-size: 1.5vw;
}

.header-sections nav ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-sections a {
  color: inherit;
  text-decoration: none;
  position: relative;
}

.header-sections nav ul li a:hover {
  color: var(--main-color);
}


.header-sections nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5vw;
  width: 100%;
  height: 0.2vw;
  border-radius: 20px;
  background-color: var(--main-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.header-sections nav ul li a:hover::after {
  transform: scaleX(1);
}


/*--main-container--*/
.main-container {
  margin-top: 12vh;
}

/*main-banner*/
.main-banner {
  width: 100%;
  height: auto;
}


/*thought*/

.container-thought {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5vw;
}

.container-thought .thought {
  width: 50vw;
  color: var(--main-color);
  margin: 0;
  font-size: 2vw;
}

.container-thought .text {
  margin: 0;
  font-size: 1.5vw;
}

/*philosophy*/
.container-principal-philosophy {
  border: 2px solid black;
  margin: 3vw;
}

.container-principal-philosophy .header-principal-philosophy {
  font-size: 1.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-principal-philosophy ul {
  list-style-type: none;
  font-size: 1.2vw;
}

.container-principal-philosophy ul li {
  display: flex;
  align-items: center;
  margin: 0.5vw 0;
}

.container-principal-philosophy .icon-item::before {
  align-items: center;
  display: inline-block;
  margin-right: 1.5vw;
  width: 3vw;
  height: 3vw;
}

.icon-item:nth-child(1)::before {
  content: url('../img/svg/cycle.svg');
  animation: spin 3s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon-item:nth-child(2)::before {
  content: url('../img/svg/ecology.svg');
  animation: scaleUpDown 4s ease-in-out infinite;
  width: 6vw;
  height: 6vw;
  margin-top: 2vw;
}

@keyframes scaleUpDown {
  0%, 100% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(1);
  }
}

.icon-item:nth-child(3)::before {
  content: url('../img/svg/Collaborate.svg');
  animation: mirror 2s alternate infinite;
}

@keyframes mirror {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(-1);
  }
}

.container-principal-philosophy .philosophy-additional {
  margin-top: 3vw;
  text-align: center;
  font-size: 1.4vw;
  font-style: italic;

}

/*container-invite*/
.container-invite {
  font-size: 1.6vw;
  margin: 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-invite .text {
  text-indent: 3vw;
  padding-right:3vw;
  width: 70vw;
  position: relative;
}

.container-invite .text p{
}

.container-invite .text::before {
  content: "";
  display: block;
  width: 0.3vw;
  height: 100%;
  background-color: var(--main-color);
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.container-invite .links {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container-invite .links a {
  color: inherit;
}

.container-invite .links img {
  margin-top: 1vw;
  width: 15vw;
}

/*pen*/
.pen-container{
  position: fixed;
  bottom: 2vw;
  left: 2vw;
padding: 1vw;
  background-color: var(--main-color);
  border-radius: 50%;
  transition: transform 0.3s; /* Добавьте анимацию увеличения */
}

.pen-container:hover {
  transform: scale(1.4); /* Увеличиваем изображение при наведении */
}

.pen-container img{
  width: 2vw;
}

.hover-text {
  display: none;
  position: absolute;
  top: 17%;
  left: 100%;
  color: black;
  font-size: 1.3vw;
  background-color: var(--main-color);
  border-radius: 0 20px 20px 0;
  padding: 0.5vw;
  animation: slide-in 0.3s ease forwards;
}

.pen-container:hover .hover-text {
  display: block;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(-1vw);
  }
}

/* Основные стили для модального окна */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на одном месте */
  z-index: 1; /* Слоевое расположение, на переднем плане */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включить прокрутку при необходимости */
  background-color: rgb(0,0,0); /* Цвет фона */
  background-color: rgba(0,0,0,0.4); /* С добавлением прозрачности */
}

/* Стили для содержания модального окна */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% от верха и автоцентрирование */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Могут быть настроены по желанию */
}

/* Стили для кнопки закрытия модального окна */
.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

