.step-header{
  display: flex;
  font-size: 1.5vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step-header img{
  width: 30vw;
}

.step{
  font-size: 1.4vw;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step .text{
  margin: 0 2vw;
}

.step .text p{
  margin: 1vw;
}

.step .text h3{
  text-indent: 4vw;
}

.step .img{
  flex: 0 0 50%;
}

.step .img img{
  width: 100%;
}
